@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
}

.theme-default-content code
  margin-bottom: 5px
  display: inline-block
